.commit {
  background-color: #363434f1 !important;
}
.commit-single {
  max-width: 400px;
  color: aliceblue !important;
  width: 100%;
}
.commit-img {
  width: 100px;
}
img {
  width: 100%;
}
.commit-wrapper {
  display: flex;
  grid-gap: 1rem;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .commit-wrapper {
    grid-template-columns: auto !important;
    justify-content: center;
  }
  .commit-single {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 782px) {
  .commit-wrapper {
    display: grid !important;
    grid-gap: 1rem;
    grid-template-columns: auto !important;
  }
  .commit-single {
    max-width: 750px !important;
    display: flex;
    align-items: center;
    margin: auto;
  }
  .commit-body {
    margin-left: 20px;
  }
}
