.latest {
  background-color: #ff6864;
}
.card-single {
  max-width: 400px;
  width: 100%;
  border-radius: 12px !important;
}
.card-text {
  font-weight: bold;
}
.card-img {
  border-radius: 10px !important;
}
.card-wrapper {
  display: flex;
  grid-gap: 1rem;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .card-wrapper {
    grid-template-columns: auto !important;
    justify-content: center;
  }
}
@media screen and (max-width: 782px) {
  .card-wrapper {
    display: grid !important;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
  }
}
